<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anuncio</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/pages/read_single.css">
</head>
<body>
    
    {% include 'principal.html' %}

    <div class="bloco1">
        <div class="bloco2">
            <div class="bloco3">
                <h2><B>Vendedor: </B></h2>
            </div>

            <div class="bloco3">
                <p>{{ registro.nome_vendedor }}</p>
            </div>
        </div>
    

        <div class="bloco2">
            <h2><B>Produto: </B></h2>
        </div>

        <div class="bloco2">
            <p>{{ registro.nome_produto }}</p>
        </div>

        <div class="bloco2">
            <div class="bloco2">
                <h2><B>Valor: </B></h2>
            </div>
       
            <div class="bloco2">
                <p>{{ registro.valor_produto }}</p>
            </div>

        </div>

        <div class="bloco2">
            <img src="{{ registro.imagem_url }}" alt="{{ registro.nome }}" class="img">
        </div>

        <div class="bloco2">
            <p><B>Descrição do produto</B></p>
        </div>

        <div class="bloco2">
            <p>{{ registro.descricao_produto }}</p>
        </div>

        <div class="bloco2">
            <a href="/dados/{{registro.id}}" class="botao">Comprar</a>
        </div>

    </div>

</body>
</html>