<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projeto personagem flask</title>
    <link rel="stylesheet" href="static/style0.css">
</head>
<body>
    <div class="conteiner">

        <div class="bloco_info"><b>nome do personagem :</b>{{nome}}</div>
        
        <div class="bloco_info"><b>HP:</b>{{hp}}</div>

        {% if exibir_imagen %}
<br>
<br>
<br>
<br>
        <div class="bloco_info">
            <img src="{{imagem}}" width="300">
        </div>

        {% endif %}
    </div>
</body>
</html>