.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.info strong{
    margin-top: 1.5rem;
    font-size: 22px;
}

.info p{
    font-size: 18px;
}

.info article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.info article img{
    width: 800px;
    height: 550px;
    border-radius:8px
}
.info article button{
    width: 5rem;
    height: 2rem;
    margin-top: 1.5rem;
    background-color: #90da90;
    color: black;
    font-weight: bold;
    border-radius: 8px;
}

.info article button:hover{
    cursor: pointer;
    background-color:aquamarine;
    box-shadow: 0.2rem 0.2rem #90da90 ;
}



/* .conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}


.info{
    margin: 15px;
}

.info article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}

.info strong{
    padding-bottom: 15px;
    font-size: 22px;
}

.img-e-botao img{
    width: 800px;
    max-height: 350px;
}

.info article a {
    text-decoration: none;
    color: #fff;
    background-color: #ff6600;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}  */