.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}
.listaFilmes{
    margin: 15px;
}

.listaFilmes article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    /* border: 1px solid black; */
}

.listaFilmes strong{
    padding-bottom: 15px;
    font-size: 22px;
}

.listaFilmes img{
    width: 800px;
    max-height: 350px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.listaFilmes article a {
    text-decoration: none;
    color: #fff;
    background-color: #ff6600;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }