<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Html com python + Flask</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <form method="POST">
        <div class="form_bloco">
            <label for="usuario_nome" class="form_label">
                digite o seu nome:
            </label> 
            <input
            type="text"
            name="usuario_nome"
            id="usuario_nome"
            placeholder="Seu nome burrao"
            required
            />  
        </div>

        <div class="form_bloco">
            <label for="usuario_sobrenome" class="form_label">
                digite o seu nome:
            </label> 
            <input
            type="text"
            name="usuario_sobrenome"
            id="usuario_sobrenome"
            placeholder="Seu sobrenome burrao"
            required
            />  
        </div>

        <div class="form_bloco">
            <input
            type="radio"
            name="apenas_uma_opcao"
            id="apenas_uma_opcao"
            value="opção_1"
            checked
            />
            <label for="apenas_uma_opcao">Masculino</label>
        
            <input
            type="radio"
            name="apenas_uma_opcao"
            id="apenas_uma_opcao_2"
            value="opção_2"
            />
            <label for="apenas_uma_opcao_2">Feminino</label>
        </div>

        <div class="form_bloco">
            <input
            type="checkbox"
            name="varias_opcoes"
            id="varias_opcoes"
            value="Opção_1"
            />
            <label for="varias_opcoes">Maior de idade</label>

            <input
            type="checkbox"
            name="varias_opcoes"
            id="varias_opcoes_2"
            value="Opção_2"
            />
            <label for="varias_opcoes_2">Aposentado</label>
        </div>
        <div class="form_bloco">
            <input type="submit" class="form_enviar" value="enviar">
        </div>
    </form>
</body>
</html>